<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>gen edu</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container">
    <nav>
      <div class="menu_tab">
        <a class="tab" href="/"><p class="tab_text">문제풀이</p></a>
        <a class="tab" href="/writing"><p class="tab_text">작문</p></a>
        <a class="tab" href="/question"><p class="tab_text">질의응답</p></a>
      </div>
      <div class="menu_option">
        <a class="side_option side2" href="index.html"><img src="/images/Layer.svg" class="side_img"><p class="side_option_text">보관함</p></a>
        <a class="side_option" href="index.html"><img src="/images/Trash.svg" class="side_img"><p class="side_option_text">질문 삭제</p></a>
      </div>
    </nav>
    <div class="main">
      <div class="input_space">
        <div class="input_select">
          <div class="input_option">
            <button class="option" id="text_button"><img src="/images/keyboard.svg"></button>
            <p class="option_ins">직접 입력</p>
          </div>
          <div class="input_option">
            <button class="option" id="img_button"><img src="/images/Image.svg"></button>
            <p class="option_ins">사진 촬영</p>
          </div>
        </div>
        <div class="input_preview">
          <div class="text_preview" id="text_preview">
            <label>
              <textarea class="text_input" id="text_input"></textarea>
            </label>
            <button class="text_submit" onclick="assigment_text_ajax()">제출</button>
          </div>
          <div class="img_preview" id="img_preview">
            <label>
              <input class="img_input" id="img_input" type="file" data-ax-path="file" onchange="previewImage()">
            </label>
            <div class="image_preview"></div>
            <button class="text_submit" onclick="assigment_img_ajax()">제출</button>
          </div>
        </div>
      </div>
      <div class="output_space">
        <div class="answer_space">
          <p class="output_subhead">답</p>
          <div class="answer_text_space">
            <p class="answer_text" id="answer_text"></p>
          </div>

        </div>
        <div class="solution_space">
          <p class="output_subhead">풀이</p>
          <div class="solution_text_space">
            <p class="answer_text" id="solution_text"></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="/javascripts/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="/javascripts/ajax.js"></script>
</body>
</html>