<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gen edu</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
    <nav>
        <div class="menu_tab">
            <a class="tab" href="/"><p class="tab_text">문제풀이</p></a>
            <a class="tab" href="/writing"><p class="tab_text">작문</p></a>
            <a class="tab" href="/question"><p class="tab_text">질의응답</p></a>
        </div>
        <div class="menu_option">
            <a class="side_option side2" href="index.ejs"><img src="/images/Layer.svg" class="side_img"><p class="side_option_text">보관함</p></a>
            <a class="side_option" href="index.ejs"><img src="/images/Trash.svg" class="side_img"><p class="side_option_text">질문 삭제</p></a>
        </div>
    </nav>
    <div class="main">
        <div class="input_space_report">
            <div class="input_select">
                <div class="input_option">
                    <button class="option" id="img_button"><img src="/images/search.svg" class="option_img"></button>
                    <p class="option_ins">검색 엔진</p>
                </div>
                <div class="input_option">
                    <button class="option" id="file_button"><img src="/images/Group.svg" class="option_img"></button>
                    <p class="option_ins">첨부 파일</p>
                </div>
            </div>
            <div class="file_preview">
                <input class="file_input" id="file_input" type="file" data-ax-path="file">
                <embed class="pdf_viewer" id="pdf_viewer" src="/images/삼성전자 분석 리포트.pdf" type="application/pdf" width=80% height=600px />
            </div>
            <button class="text_submit" onclick="file_ajax()">제출</button>
        </div>
        <div class="output_space_chat">
            <div class="chat_space" id="chat_space">
                <div class="chat_box">
                    <p class="response_chat">궁금한 점을 말씀해주세요!</p>
                </div>
            </div>
            <div class="chat_input_space">
                <div class="chat_input_space_box">
                    <input type="text" class="chat_input" id="chat_input" placeholder="궁금한 점을 입력하세요!">
                    <button type="button" class="chat_input_button" id="chat_button" onclick="chat_ajax()"><img src="/images/PaperPlaneRight.svg"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/index.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/ajax.js"></script>
</body>
</html>
